<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.sipetani">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>

    <application
        android:name="com.mobile.sipetani.Until.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/botani"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/botani"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mobile.sipetani.Tiket"></activity>
        <activity android:name="com.mobile.sipetani.Profil" />
        <activity android:name="com.mobile.sipetani.DetailPemesanan" />
        <activity android:name="com.mobile.sipetani.DetailPembayaran" />
        <activity
            android:name="com.mobile.sipetani.BuatAkun"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mobile.sipetani.LupaPassword"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Navigation" />
        <activity
            android:name="com.mobile.sipetani.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>